.inactive {
    color: 	#D3D3D3;
}

.inactive:hover {
    color: #4D6DE3;
}

.Navs {
    margin-top: 30px;
    color: 	#D3D3D3;
    
}

.p {
    margin-top: 30px;
    font-size: 32px;
    margin-left: -785px ;
    margin-bottom: -25px;
    color:gray;
}






